<% include ../partials/header %>

<div class="container">
        <header class= "jumbotron">
            <div class="container">
                <h1 class= "display-4">Welcome to Yelpcamp!</h1>
                <p>view our hand-picked campgrounds from all over the world</p>
                <p>
                    <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
                </p>
            </div>
        </header>
        <hr>
        <br>
        <div class="row text-center"style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach((campground) => { %>
                <div class ="col-lg-3 col-md-6 col-sm-12">
                    <img class = "img-thumbnail" src=" <%= campground.image %>" alt="">
                    <div class="card-body">
                            <h4 class="card-title"><%= campground.name %></h4>
                            <p>
                                    <a href="/campgrounds/<%= campground._id %>" class = "btn btn-primary">More Info</a>
                            </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer %>

